<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div>
        <form class="form-inline" ng-submit='save(stocks, bonds)'>
          <div class="form-group">
            <!-- <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label> -->
            <div class="input-group">
              <div class="input-group-addon">Stocks</div>
              <input type="text" class="form-control" ng-model="stocks" placeholder="{{stocks}}">
              <div class="input-group-addon">%</div>
            </div>
            <div class="input-group">
              <div class="input-group-addon">Bonds</div>
              <input type="text" class="form-control" ng-model="bonds" placeholder="{{bonds}}">
              <div class="input-group-addon">%</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save Portfolio</button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      Risk Profile:
      <select>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="pieData" chart-labels="pieLabels">
      </canvas>
      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick">
      </canvas>
    </div>
  </div>
</div>
