<div style="padding: 15px">
  <h3>New Portfolio created!</h3>
  <div style="margin: 15px">
    Your portfolio will be saved with the following allocation:
  </div>

  <ul class="list-group" style="margin: 15px">
    <!-- <li class="list-group-item">Risk profile: high</li> -->
    <li class="list-group-item">{{portfolio.stocks.total * 100}}$ in Stocks</li>
    <li class="list-group-item">{{portfolio.bonds.total * 100}}$ in Bonds</li>
  </ul>

  <div style="margin: 15px">
    Here a proposal of assets to realize this investment:
  </div>

  <div style="margin: 15px">
    Do you want to receive those instructions via email?
  </div>

  <div align="center">
    <button type="submit" class="btn btn-success" ng-click="sendMail(portfolio) && save(portfolio) && closeThisDialog()">Yes, please</button>
    <button type="submit" class="btn btn-info" ng-click="save(portfolio) && closeThisDialog()">No, only save to database</button>
  </div>

</div>